* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container-header {
    position: relative;
    background: #000;
    max-width: 1440px;
    height: 90px;
}

.header-wrapper {
    position: absolute;
    display: flex;
	align-items: center;
	padding: 30px 0;
    margin-left: 84px;
    margin-right: 140px;
    margin-top: 27px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.nav-a-wrapper {
    position: absolute;
    right: 0;
    width: 706px;

}

.menu {
    /*display: flex;
	gap: 40px; */
}

.menu li {
    list-style: none;
}

.menu li a {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;

}

.template_button {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    width: 156px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 15px;
    
}